* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  background-color: rgb(249, 250, 251);
}

.animated-bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #0e4166;
  background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
}

.form-style {
  z-index: 1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  z-index: 1;
  position: relative;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 380px;
  box-shadow: 0px 0px 10px 16px rgba(0, 0, 0, 0.2);
}

.form-wrapper > h1 {
  text-align: center;
  margin-bottom: 0;
}

.register-inputs {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 10px;
}

.register-input > p {
  color: red;
  margin: 0;
  font-size: x-small;
}

.register-input > input {
  width: 100%;
  padding: 6px 4px 6px 10px;
  box-sizing: border-box;
  border: 1px solid rgb(135, 135, 135);
  outline: none;
}

.register-input > input:focus {
  border-image: linear-gradient(140deg, rgb(126, 126, 255), rgb(255, 112, 112))
    1;
}

.no-acc {
  color: rgb(70, 70, 70);
  text-align: center;
  font-size: medium;
}

.register-inputs > p > a {
  color: black;
}

.err {
  color: red;
  margin: 0;
  padding: 2px 0;
  font-size: small;
}

.header-container {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  background-color: white;
  width: 100%;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 11px;
  height: 43px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.dashboard-header h1 {
  margin: 0;
}

.dashboard-wrapper {
  padding-left: 62px;
  padding-top: 50px;
  height: calc(100vh - 50px);
}

.acc-nav {
  position: fixed;
  top: 50px;
  left: 0;
  width: auto;
  height: calc(100vh - 25px);
  background-color: white;
  z-index: 999;

  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
}

.logo-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-nav > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.logo-nav > h1 {
  margin: 0;
  color: white;
  text-align: center;
}

.active {
  color: white;
  background-color: rgb(237, 244, 251);
  text-decoration: none;
  padding: 4px;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.nav-links {
  margin-top: 5px;
}

.nav-links > a {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  padding: 4px 17px;
  text-decoration: none;
  color: rgb(97, 97, 97);
}

.nav-links > a:hover {
  background-color: rgb(245, 245, 245);
}

.nav-links > a > span {
  font-size: medium;
}

.event-wrapper {
  box-sizing: border-box;
  padding: 20px 35px;
  display: flex;
  gap: 20px;
  max-height: 80vh;
  max-width: 1330px;
}

.card {
  height: auto;
}

.card-link {
  width: 25%;
  background-color: white;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.2s ease-in-out;
}

@media (max-width: 950px) {
  .card-link {
    width: 50%;
  }
}

.card-link:hover {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.card div img {
  width: 100%;
  height: 170px;
}

.card h3 {
  font-size: 1.06rem;
  margin: 12px 0 35px 0;
  padding-left: 8px;
  padding-right: 8px;
}
.card p {
  padding-left: 8px;
  padding-right: 8px;
}

.org-name {
  background-color: rgb(249, 249, 249);
  padding: 10px 0px;
  margin: 35px 0 0 0;
}

.date {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 14px;
  margin: 0px;
}

.logout {
  text-align: center;
  background-color: red;
  color: white;
  padding: 4px;
  border: none;
  border-radius: 3px;
}

.logout:hover {
  background-color: rgb(152, 0, 0);
}

.brand {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.brand h1 {
  font-size: x-large;
}

.mirror-v {
  transform: scaleY(-1);
}

.details {
  max-width: 1330px;
  margin: auto;
  padding: 35px;
}

.detail-title-date {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.detail-title-date > h1 {
  margin-top: 0 0 12px 0;
  font-size: 40px;
}

.detail-container {
  display: flex;
  gap: 1rem;
}

.detail-events-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 60%;
  margin-bottom: 16px;
}

.detail-date-con {
  font-size: 16px;
  height: 100%;
  display: flex;
  gap: 1rem;
}

.detail-date h3 {
  margin-top: 0px;
}

.home-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 1330px;
  padding: 0 35px 35px 35px;
  margin: auto;
  gap: 60px;
}

.org-link {
  text-decoration: none;
  color: black;
}

.org-card {
  background-color: white;
  text-align: center;
  padding: 15px 10px 10px 10px;
  min-height: 160px;
  width: 185px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.2s ease-in-out;
}

.org-card:hover {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.news-card {
  display: flex;
  background-color: white;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.2s ease-in-out;
}

.news-card:hover {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.news-padding {
  padding: 16px;
}

.news-img {
  max-width: 15.625rem;
  flex: 0 0 15.625rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.news-card > div > h3 {
  margin: 0 0 5px 0;
}

.news-detail {
  margin: 0;
}

.org-card2 {
  background-color: white;
  display: flex;
  padding: 16px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.2s ease-in-out;
}

.org-card2:hover {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.eachNewsLink {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 10px;
  font-size: 18px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.2s ease-in-out;
}

.eachNewsLink:hover {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  cursor: initial;
  cursor: default;
}